body{
  font-family: Arial;
  background:#f3f4f6;
  margin:0;
}

.app{
  text-align:center;
  padding:20px;
}

.stats{
  display:flex;
  justify-content:center;
  gap:20px;
  font-size:18px;
  margin-bottom:10px;
}

.progress{
  height:10px;
  background:#ddd;
  width:100%;
  max-width:420px;
  margin:10px auto 20px;
  border-radius:10px;
  overflow:hidden;
}

.bar{
  height:100%;
  background:#34a853;
  transition:0.4s;
}

.calendar{
  width:100%;
  max-width:420px;
  margin:auto;
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:10px;
}

.header button{
  border:none;
  background:#34a853;
  color:white;
  padding:6px 12px;
  border-radius:6px;
  cursor:pointer;
}

.weekdays{
  display:grid;
  grid-template-columns:repeat(7,1fr);
  font-weight:bold;
  font-size:14px;
}

.dates{
  display:grid;
  grid-template-columns:repeat(7,1fr);
  gap:6px;
  margin-top:6px;
}

.date{
  padding:12px;
  border-radius:8px;
  transition:0.2s;
}

.date:hover{
  transform:scale(1.05);
}

.today{
  border:2px solid #34a853;
  cursor:pointer;
}

.done{
  background:#34a853;
  color:white;
  text-decoration:line-through;
}

.disabled{
  opacity:0.35;
  cursor:not-allowed;
}

@media (max-width:600px){

  .calendar{
    padding:15px;
  }

  .date{
    padding:10px;
    font-size:13px;
  }

  .weekdays{
    font-size:12px;
  }

}
